{% extends "new_layout.html" %}
{% block content %}
    <div class="jumbotron text-center align-self-center bg-light text-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="card" class="align-center">
                        <div class="card-header">
                            <h1 class="text-dark"><a class="text-dark" href="{{ weather_url }}" target="_blank">Weather</a> in Arlington</h1>
                        </div>
                        <div class="card-body">
                            <p class="m-0">Temperature: {{ weatherdata["temp"] }}&#176; F</p>
                            <p class="m-0">Feels Like: {{ weatherdata["feels_like"] }}&#176; F</p>
                            <p class="m-0">High: {{ weatherdata["temp_max"] }}&#176; F</p>
                            <p class="m-0">Low: {{ weatherdata["temp_min"] }}&#176; F</p>
                            <p class="m-0">Conditions: {{ weatherdata["description"] }}</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4 align-center">
                    {% for link in links %}
                    <a href="{{ links[link] }}" target=_blank class="btn btn-lg btn-secondary text-light m-1">{{ link }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>        
    </div>
    <div class="container">
        <div class="align-center">
            <row>
                <h2 class="text-dark text-center">From the New York Times:</h2>
            </row>
            <row>
            <ul class="list-group border border-light">
                {% for story in trending_stories %}
                <li class="list-group-item text-dark bg-light border-light"><a href="{{ story[0] }}" target=_blank class="btn btn-md btn-block btn-secondary text-light">{{ story[1] }}</a>
                </li>
                {% endfor %}
            </ul>
            </row>
        </div>
    </div>
    
 {% endblock content %}