{% extends "new_layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>About this Site</h1>
            <p> 
                This site was developed by Nick. It is coded exclusively in python, using Flask to serve the website.<br> 
                It draws data from the NYT api, as well as the OpenWeather API.<br>
                I hope you enjoy playing around with it! Feel free to make an account (I won't email you) and check it out!<br>
                If you notice anything broken/could be better/think of a feature I should add, please let me know!<br>
                As this site is still in beta, there are a few features that are not complete as of now. 
                Most notably, the password reset links do not do anything currently.
                If you forget your password, email me directly, and I will let you back in. Have fun!
            </p>
        </div>
        <div class="col-sm-4">
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">{{ quote_tuple[1] }}</h5>
                    <p class="card-text">{{ quote_tuple[0] }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
             Need an Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up</a>
        </small>
    </div>
    
</div>
   
{% endblock content %}