{% extends "new_layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>About this Site</h1>
            <p> 
                HomePage v. 0.2.0<br><br>
                Updates:<br>
                - Added messaging feature<br>
                - Removed inaccurate time greeting<br>
                - Updated site infrastructure for scalability and security<br>
                - Improved notes functionality, for editing and removing<br>
                - Added front end password reset with emailed tokens<br>
                - Changed accounts to require a (mostly) valid emailed<br><br>
                
                Roadmap for Version 0.2.1:<br>
                - Add news apis for WSJ, LAT, WashPost<br>
                - Improve messaging speed, organization, and security<br>
                - Add data to weather queries, and improve graphic styling<br>
                <br>
                As always, I am open to input, so please feel free to message me (in the website now :P) with any thoughts or insights or criticism.
            </p>
        </div>
        <div class="col-sm-4">
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">{{ quote_tuple[1] }}</h5>
                    <p class="card-text">{{ quote_tuple[0] }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
             Need an Account? <a class="ml-2" href="{{ url_for('users.register') }}">Sign Up</a>
        </small>
    </div>
    
</div>
   
{% endblock content %}