{% extends "new_layout.html" %}
{% block content %}
    <h1>{{ current_user.username }}</h1>
<div class="container pb-4">
    <div class="row">
        <div class="col-sm-8">
            <a href="{{ url_for('add_links') }}" target="" class="btn btn-lg btn-secondary text-light mt-3 btn-block">Add Links</a>
            <a href="{{ url_for('new_note') }}" target="" class="btn btn-lg btn-success text-light mt-3 btn-block">Add Note</a>
            <a href="{{ url_for('view_notes') }}" target="" class="btn btn-lg btn-info text-light mt-3 btn-block">View Notes</a>
            <a href="{{ url_for('change_weather') }}" target="" class="btn btn-lg btn-secondary text-light mt-3 btn-block">Change Weather Location</a>

            <!-- Button trigger modal -->
            {% for link in current_user.links %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">
                Delete {{ link.title }}?
            </button>
            
            
            <!-- Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete {{ link.title }}?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    Clicking Delete will permanently remove this link form your HomePage
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('remove_link', link_id=link.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                    </div>
                </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="col-sm-4">
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">{{ quote_tuple[1] }}</h5>
                    <p class="card-text">{{ quote_tuple[0] }}</p>
                </div>
            </div>
        </div>
    </div>  
</div>
   
{% endblock content %}