{% extends "new_layout.html" %}
{% block content %}
<h2 class="text-dark text-center">Notes:</h2>
<div class="container pb-4">
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">{{ message.subject }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Sent by: {{ sender }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Received by: {{ recipient }}</h6>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Time Sent: {{ message.time_sent }}</h6> -->
            <p class="card-text">{{ message.content }}</p>
            <a href="{{ url_for('messages.new_message') }}" class="btn btn-secondary">Reply</a>

        </div>
    </div>
</div>

    
 {% endblock content %}